@import url(http://fonts.googleapis.com/css?family=Oswald);
*{
    box-sizing: border-box;
}
h3{
    color: #07116f;
}
body{
    background: #fcfffa;
    color: #07116f;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    max-width:100%;
    margin-left:auto;
    max-height: 100%;
    margin-right:auto;
    padding:1em;
}

ul{
    list-style: none;
    padding:0;
}

.brand{
    text-align: center;
}

.brand span{
    color: #ff4712;
}


.wrapper > *{
    padding: 2em;
}

.company-info{
    background: rgb(3,0,255);
    background: linear-gradient(63deg, rgba(252,156,21,1) 0%, #ff8919 19%, rgb(255, 137, 25) 65%, #ff8919 96%);
}

.company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
}

.contact{
    background:#f9feff;
    text-align: center;
}

/* FORM STYLES */
.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    text-align: center;
}

.contact form label{
    display:block;
}

.contact form p{
    margin:0;
}

.contact form .full{
    grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #fff3f8;

}

.contact form button{

    background: #f19cac;
    color: #fff;
    border: 1px solid #1d106f;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    cursor: pointer;

}

.contact form button:hover,.contact form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
}

/* Facebook */
.fb-icon-bg {
    background: #354f88;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}

.fb-icon-bg:after {
    content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
    display: block;
    padding: 9px 10px 5px 15px;
}

.fb-bg {
    background: #3b5998;
    display: block;
    height: 37px;
    margin: 0 0 30px 41px;
    width: auto;
}

.fb-bg:after {
    color: #fff;
    content: "Login with facebook";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 8%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}

.fb-bg:hover{
    cursor: pointer;
}

.fb-bg:active{
    background: #354f88;
}

.g-icon-bg {
    background: #ce3e26;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}

.g-bg {
    background: #de4c34;
    display: block;
    height: 37px;
    margin: 0 0 30px 41px;
    width: auto;
}

.g-bg:after {
    color: #fff;
    content: "Login with google+";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 10%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}

.g-bg:hover {
    cursor: pointer;
}

.g-bg:active {
    background: #ce3e26;
}



/*this*/
.slide-social{
    display: inline-block;
    overflow: hidden;
    margin: 0 1em 1em 0;
    width: 9em;
    height: 3em;

    position: relative; /* So social buttons don't align with positioned ancestor */
}

.slide-social .ss-button{
    position: absolute;
    top: 1em;
    left: 35%;
}

.ss-icon{
    padding-top: 1em;
    text-align: center;
    background: #ce3e26;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}

.ss-icon i{
    border-right: 1px solid #FFF; /* IE < 9 Fallback Colour */
    border-right-color: rgba(255,255,255,.3);
    color: #FFF;
    display: block;
    font-size: 1.2em;
    height: 1em;
}


/* Brand Colours */

.facebook-bg{
    background: #3b5998;
}

.google-plus-bg{
    background: #db4a39;
}

/* Slide Animation */


.slide-social:hover .ss-icon i{
    border-right-color: transparent;
}




/* LARGE SCREENS */
@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding:2em;
    }

    .company-info , .company-info ul, .brand{
        text-align: left;
        color: #07116f;
    }
}